Repository ESMCI/cime, pull requests merged in 2019-01, with the labels that each got.

#2964 Improve errors messages coming from generic_xml
  scripts/lib/CIME/XML/generic_xml.py
Labels: tp: CIMElib, ty: enhancement

#2968 Remove support for CLM4.0
  config/cesm/config_files.xml
  config/cesm/machines/config_pio.xml
  scripts/Tools/Makefile
  scripts/lib/CIME/SystemTests/README
  scripts/lib/CIME/build.py
  src/drivers/mct/cime_config/config_component_cesm.xml
  src/drivers/nuopc/cime_config/config_component_cesm.xml
Labels: tp: CIMElib, tp: script tools, ty: enhancement

#2972 Fix Case context manager enforcement
  scripts/lib/CIME/SystemTests/dae.py
  scripts/lib/CIME/SystemTests/eri.py
  scripts/lib/CIME/SystemTests/system_tests_compare_two.py
  scripts/lib/CIME/build.py
  scripts/lib/CIME/case/case.py
  scripts/lib/CIME/case/case_clone.py
  scripts/tests/scripts_regression_tests.py
Labels: tp: CIMElib, ty: Bug Fix, ty: enhancement

#2977 minor update to archive_metadata
  scripts/Tools/archive_metadata
Labels: cesm-only, maint-5.6_bugfix, tp: script tools

#2962 Add expected failure annotations to cs.status output
  config/xml_schemas/expected_fails_file.xsd
  scripts/Tools/cs.status
  scripts/lib/CIME/XML/expected_fails_file.py
  scripts/lib/CIME/cs_status.py
  scripts/lib/CIME/expected_fails.py
  scripts/lib/CIME/test_status.py
  scripts/lib/CIME/tests/XML/__init__.py
  scripts/lib/CIME/tests/XML/test_expected_fails_file.py
  scripts/lib/CIME/tests/custom_assertions_test_status.py
  scripts/lib/CIME/tests/test_cs_status.py
  scripts/lib/CIME/tests/test_custom_assertions_test_status.py
  scripts/lib/CIME/tests/test_test_status.py
Labels: tp: system tests, ty: enhancement

#2980 e3sm_cime_mgmt: big upgrade/refactor to auto conf handling
  scripts/lib/e3sm_cime_mgmt.py
Labels: e3sm-only, tp: script tools, ty: enhancement

#2983 Better handling of file permissions when copying files
  scripts/lib/CIME/SystemTests/homme.py
  scripts/lib/CIME/case/case_cmpgen_namelists.py
  scripts/lib/CIME/hist_utils.py
  scripts/lib/CIME/provenance.py
  scripts/lib/CIME/utils.py
  scripts/tests/scripts_regression_tests.py
Labels: tp: CIMElib, ty: Bug Fix, ty: enhancement

#2985 Add a test for tools/configure
  scripts/tests/scripts_regression_tests.py
Labels: tp: script tools, tp: tools, ty: enhancement

#2990 Modifications to allow for E3SM developer tests for the SE SCM
  config/e3sm/tests.py
  scripts/lib/CIME/test_scheduler.py
  src/drivers/mct/main/seq_hist_mod.F90
  src/drivers/mct/main/seq_io_mod.F90
Labels: tp: drv mct, ty: enhancement
