Repository ESMCI/cime, pull requests merged in 2020-09, with the labels that each got.

#3695 Cime changes required by the topounit inplementation in E3SM
  src/drivers/mct/shr/seq_flds_mod.F90
Labels: tp: drv mct, ty: enhancement

#3696 Include submodule status in provenance.
  scripts/lib/CIME/provenance.py
  scripts/lib/CIME/utils.py
Labels: e3sm-only

#3694 Sets coupling frequencies for new MPAS-Ocean grid in E3SM.
  src/drivers/mct/cime_config/config_component_e3sm.xml
Labels: e3sm-only

#3714 Change name of clm to elm in E3SM
  config/e3sm/config_files.xml
  src/drivers/mct/cime_config/config_component_e3sm.xml
Labels: e3sm-only, tp: config

#3691 Add JRA Repeat Year Forcing data modes
  src/components/data_comps_mct/datm/cime_config/config_component.xml
  src/components/data_comps_mct/datm/cime_config/namelist_definition_datm.xml
  src/components/data_comps_mct/datm/src/datm_comp_mod.F90
  src/components/data_comps_mct/datm/src/datm_shr_mod.F90
  src/components/data_comps_mct/drof/cime_config/config_component.xml
  src/components/data_comps_mct/drof/cime_config/namelist_definition_drof.xml
Labels: tp: data models, ty: enhancement

#3629 add CLA --query-expType option to query the CESM2 experiment database…
  scripts/Tools/archive_metadata
Labels: cesm-only, tp: script tools, ty: enhancement

#3723 Change name of cam to eam in E3SM
  config/e3sm/config_files.xml
  src/drivers/mct/cime_config/buildnml
  src/drivers/mct/cime_config/config_component_e3sm.xml
  src/drivers/mct/cime_config/namelist_definition_drv.xml
Labels: tp: config
