Repository ESMCI/cime, pull requests merged in 2020-12, with the labels that each got.

#3786 Print TPUTCOMP difference to TestStatus.log
  scripts/lib/CIME/SystemTests/system_tests_common.py
Labels: tp: system tests, ty: enhancement

#3781 Update OS process id error-checking in GPTL's get_memusage
  src/share/timing/GPTLget_memusage.c
Labels: ready, tp: src shr

#3788 Add memory usage logging for memory profiling
  src/drivers/mct/cime_config/config_component_cesm.xml
  src/drivers/mct/cime_config/config_component_e3sm.xml
  src/drivers/mct/cime_config/namelist_definition_drv.xml
  src/drivers/mct/main/cime_comp_mod.F90
  src/drivers/mct/shr/seq_comm_mct.F90
Labels: tp: drv mct, ty: enhancement

#3796 Add a useful check to wait_for_tests
  scripts/lib/CIME/wait_for_tests.py
Labels: e3sm-only

#3797 query_testlists: replace newlines in comments with spaces
  .github/workflows/srt.yml
  scripts/lib/CIME/test_utils.py
Labels: tp: CIMElib, ty: enhancement

#3798 Check if TEST_ROOT exists earlier in cleanup from scripts_regression_tests
  scripts/tests/scripts_regression_tests.py
Labels: tp: unit tests, ty: Bug Fix, unit tests

#3804 Facilitate adding defaults for a namelist group conditionally
  scripts/lib/CIME/XML/namelist_definition.py
  scripts/lib/CIME/nmlgen.py
Labels: tp: CIMElib, ty: enhancement

#3801 Add memory usage logging
  src/drivers/mct/cime_config/buildnml
  src/drivers/mct/cime_config/config_component_cesm.xml
  src/drivers/mct/cime_config/config_component_e3sm.xml
  src/drivers/mct/cime_config/namelist_definition_drv.xml
  src/drivers/mct/main/cime_comp_mod.F90
  src/drivers/mct/shr/seq_comm_mct.F90
Labels: in progress, tp: drv mct

#3813 Add some SCREAM config dirs
  config/e3sm/config_files.xml
Labels: e3sm-only, tp: config
