Repository ESMCI/cime, pull requests merged in 2020-08, with the labels that each got.

#3644 Reorder drof options. Fixes bug in #3641
  src/components/data_comps_mct/drof/cime_config/namelist_definition_drof.xml
Labels: tp: data models, ty: Bug Fix

#3658 Improve check_input_data.py to use os.path.isfile() rather than os.pa…
  scripts/lib/CIME/case/check_input_data.py
Labels: ty: Bug Fix

#3663 cprnc: Fix integer single-variable analysis
  tools/cprnc/compare_vars_mod.F90.in
  tools/cprnc/run_tests
  tools/cprnc/test_inputs/README
  tools/cprnc/test_inputs/control_int.nc
  tools/cprnc/test_inputs/int_missing.nc
Labels: tp: system tests, ty: Bug Fix

#3671 Revert dlnd source code to how it was prior to PR 3619
  src/components/data_comps_mct/dlnd/src/dlnd_comp_mod.F90
Labels: tp: data models, ty: Bug Fix

#3677 Add cuda entries
  config/xml_schemas/config_compilers_v2.xsd
Labels: e3sm-only

#3675 fix_K_TestCimeCase_scripts_regression_tests_on_Mappy
  scripts/tests/scripts_regression_tests.py
Labels: e3sm-only, ty: Bug, ty: Bug Fix

#3679 Fix FV3 grid problem and end GSWP3 forcing by default in 2013 as 2014 is bad
  config/cesm/config_grids.xml
  config/cesm/config_grids_mct.xml
  src/components/data_comps_mct/datm/cime_config/config_component.xml
Labels: tp: config, tp: data models, ty: Bug Fix

#3686 Avoid artificial limit on string lengths in shr_string_listMerge
  src/share/util/shr_string_mod.F90
Labels: tp: src shr, ty: Bug Fix

#3693 Support concurrent env XML changes during case.run
  config/config_tests.xml
  scripts/lib/CIME/SystemTests/system_tests_common.py
  scripts/lib/CIME/XML/generic_xml.py
  scripts/lib/CIME/case/case.py
  scripts/lib/CIME/case/case_run.py
  scripts/lib/CIME/case/case_st_archive.py
  scripts/tests/scripts_regression_tests.py
Labels: tp: CIMElib, tp: script tools, tp: system tests, ty: enhancement
