Repository ESMCI/cime, pull requests merged in 2020-05, with the labels that each got.

#3535 extend allowed string length
  tools/cprnc/filestruct.F90
Labels: tp: tools, ty: Bug Fix

#3529 Start adding option for MizuRoute
  config/cesm/config_files.xml
  config/cesm/config_grids.xml
  scripts/lib/CIME/XML/grids.py
Labels: cesm-only, tp: user interface, ty: enhancement

#3551 Allow gptl build to recognize ESMF_LIBDIR
  scripts/Tools/Makefile
  src/share/timing/Makefile
Labels: tp: src shr, ty: Bug Fix
