Repository ESMCI/cime, pull requests merged in 2021-03, with the labels that each got.

#3873 Add run scripts to provenance capture
  scripts/lib/CIME/provenance.py
Labels: e3sm-only

#3875 Add header row and perf-archiving to memory profiling logs
  scripts/lib/CIME/provenance.py
  src/drivers/mct/main/cime_comp_mod.F90
Labels: ready, tp: drv mct

#3869 Generalize the file pattern match for cism.config files
  scripts/lib/CIME/case/preview_namelists.py
Labels: tp: CIMElib, ty: enhancement

#3785 Remove references to CISM1-only grid for CESM
  config/cesm/config_grids.xml
  config/cesm/config_grids_common.xml
  config/cesm/config_grids_mct.xml
Labels: cesm-only, tp: config, ty: enhancement

#3881 Disable kokkos tests when building for E3SM
  src/build_scripts/buildlib.kokkos
Labels: e3sm-only

#3882 Avoid adding CDEPS things to inc & lib paths with LILAC
  scripts/Tools/Makefile
  scripts/lib/CIME/build.py
Labels: tp: script tools, ty: Bug Fix

#3891 Switch e3sm config to COMP_ROOT_DIR
  config/e3sm/config_files.xml
Labels: e3sm-only, tp: config

#3901 Point to new dlnd scpl forcing data
  src/components/data_comps_mct/dlnd/cime_config/config_component.xml
Labels: tp: data models, ty: enhancement

#3903 handle case when domain_root is not present
  scripts/lib/CIME/XML/grids.py
Labels: tp: CIMElib, ty: Bug Fix
