Repository ESMCI/cime, pull requests merged in 2021-02, with the labels that each got.

#3844 Add a new env_run XML value for E3SM: CASE_GROUP
  scripts/create_newcase
  scripts/lib/CIME/case/case.py
  src/drivers/mct/cime_config/config_component.xml
Labels: tp: CIMElib, tp: script tools

#3851 Make update success more robust
  scripts/lib/CIME/wait_for_tests.py
Labels: e3sm-only

#3853 Update driver-mct support for trigrid configuration where lnd is not on the atm grid
  src/drivers/mct/main/prep_rof_mod.F90
  src/drivers/mct/main/seq_diag_mct.F90
  src/drivers/mct/main/seq_frac_mct.F90
Labels: tp: drv mct

#3855 bless/compare_test_results should not process build-only tests
  scripts/lib/CIME/bless_test_results.py
  scripts/lib/CIME/compare_test_results.py
Labels: tp: CIMElib, tp: script tools

#3711 Wpcoomb/improve check input data tool
  scripts/lib/CIME/case/check_input_data.py
Labels: tp: script tools, ty: enhancement

#3867 Enable 2010 SST climatology for all variants of F-2010 compsets
  src/components/data_comps_mct/docn/cime_config/config_component.xml
Labels: CRITICAL, e3sm-only
