Repository ESMCI/cime, pull requests merged in 2021-05, with the labels that each got.

#3924 Fixes phase 1 of multisubmit not executing during rerun
  scripts/lib/CIME/SystemTests/system_tests_compare_two.py
  scripts/lib/CIME/tests/SystemTests/test_system_tests_compare_two.py
  scripts/lib/CIME/tests/case_fake.py
Labels: tp: CIMElib, tp: system tests, ty: Bug Fix

#3949 Adds git submodule info to provenance
  scripts/lib/CIME/provenance.py
  scripts/lib/CIME/tests/test_provenance.py
Labels: e3sm-only

#3939 Reset a test that is rerun after a run failure
  config/config_tests.xml
  scripts/lib/CIME/SystemTests/system_tests_common.py
  scripts/lib/CIME/test_scheduler.py
  scripts/lib/CIME/test_status.py
  scripts/tests/scripts_regression_tests.py
Labels: tp: system tests, ty: Bug Fix

#3925 Change behavior of check on DIN_LOC_ROOT in case_setup.py
  scripts/lib/CIME/case/case_setup.py
Labels: tp: CIMElib

#3943 Rename GLC Greenland grid from "gland" to "gris"
  config/cesm/config_grids.xml
  config/cesm/config_grids_common.xml
  config/cesm/config_grids_mct.xml
  src/drivers/mct/cime_config/config_component.xml
Labels: cesm-only, tp: config, ty: enhancement

#3946 Updates for pleiades systems
  config/cesm/machines/config_batch.xml
  config/cesm/machines/config_compilers.xml
  config/cesm/machines/config_machines.xml
  scripts/lib/CIME/XML/env_batch.py
Labels: machine specific

#3959 Switch location of E3SM share buildlib scripts
  config/e3sm/config_files.xml
Labels: e3sm-only, tp: config

#3963 Modify ERI test for EAM
  scripts/lib/CIME/SystemTests/eri.py
Labels: tp: system tests, ty: Bug Fix

#3968 Adds CASE_HASH to env_case
  scripts/lib/CIME/case/case.py
  scripts/lib/CIME/tests/test_case.py
  scripts/lib/CIME/tests/utils.py
  src/drivers/mct/cime_config/config_component.xml
Labels: tp: CIMElib, ty: enhancement
