Repository ESMCI/cime, pull requests merged in 2022-10, with the labels that each got.

#4326 Add SLIM as a valid land component
  CIME/BuildTools/configure.py
  CIME/data/config/cesm/config_files.xml
Labels: tp: user interface, cesm-only

#4329 a fix for building cesm with no models specified (clm only)
  CIME/build.py
Labels: cesm-only

#4330 e3sm_compile_wrap.py: Move to E3SM repo
  CIME/Tools/e3sm_compile_wrap.py
  CIME/case/case.py
Labels: e3sm-only
